<div *ngIf='artist' class="p-2 artist">
    <p class="title">
        {{artist.name}}
    </p>
    <div>
        <div>
            Listeners:

            <span style="font-weight: bold;">
                {{artist.stats.listeners}}
            </span>
        </div>
        <div>
            Play Count:
            <span style="font-weight: bold;">

                {{artist.stats.playcount}}
            </span>
        </div>
    </div>
</div>

<div *ngIf='tracks && albums' class="mt-2">

    <span class="top">Top Tracks</span>
    <mat-list>
        <mat-list-item *ngFor="let track of tracks">
            Title: {{track.name}}
            <!-- <img matListAvatar [src]="artist.image[2]['#text']" alt="..."> -->

            Play Count: {{track.playcount}}
        </mat-list-item>
    </mat-list>


    <span class="top">Top Albums</span>
    <mat-list>
        <mat-list-item *ngFor="let album of albums">
            Title: {{album.name}}
            <!-- <img matListAvatar [src]="artist.image[2]['#text']" alt="..."> -->

            Play Count: {{album.playcount}}
        </mat-list-item>
    </mat-list>
</div>